[Desktop Entry]
Comment=Avalon Splashscreen

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Avalon-Splash

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=xkain
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=xkain123@gmail.com
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Avalon-Splash
X-KDE-PluginInfo-Version=1.0
X-Plasma-MainScript=defaults

